<div class="container">
	<h3 class="text-center"> Edit Project! </h3>
		<%= link_to 'Back', manager_client_projects_path(@client, @project), class: "btn btn-outline-success btn-sm" %>
		<%= render 'form' %> 
</div>